@{
    ViewBag.Title = "Sales";
}

@section Styles {

}
@section Scripts {



}

<div ng-controller="DashboardController">
    {{Nombre}}
    <div class="body-content">
        <canvas id="pie" class="chart chart-pie"
                chart-data="data" chart-labels="labels" chart-options="options" chart-colors="colors"></canvas> 

        <canvas id="base" class="chart-bar"
                chart-data="data2" chart-labels="labels2" chart-colors="colors"
                chart-dataset-override="datasetOverride"></canvas>
    </div>
   

</div>



