@{
    ViewBag.Title = "Sales";
}

@section Styles {

}
@section Scripts {



}

<div ng-controller="DashboardController">
    {{Nombre}}
    <canvas id="bar" class="chart chart-bar"
            chart-data="data" chart-labels="labels" chart-series="series"></canvas>

</div>



