<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
         
        </div>

            <ul class="nav navbar-top-links navbar-right">
              
                <li>


                    <a href="index.html" class="navbar-brand pull-right"><img src="~/img/MaritimaDominicana.png" style="width: 100px;"></a>
                </li>
               
                <li>
                    @Html.Partial("_LoginPartial")
                    @*<a href="@Url.Action("Login", "Account")">
                        <i class="fa fa-sign-out"></i> Salir
                    </a>*@
                </li>
                <li>
                    <a class="right-sidebar-toggle">
                        <i class="fa fa-tasks"></i>
                    </a>
                </li>
            </ul>
</nav>
</div>